<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Contact
                <small>Let us know what's on your mind</small>
            </h2>
        </div>

    </div>
    <!-- /.row -->


        <div class="col-sm-4">
            <h3>Water Cooler Trivia</h3>
            <h4>Because pub trivia can happen during working hours</h4>

            <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (630) 674-4131</p>

            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a
                    href="mailto:collin@watercoolertrivia.com">collin@watercoolertrivia.comm</a></p>

            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/watercoolertrivia/" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a></li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/WaterCoolerTriv" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a></li>

            </ul>
        </div>

    </div>
    <!-- /.row -->

</div><!-- /.container -->