<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
              <header>
              <h2>Water Cooler</h2>
              <h1>Trivia</h1>
          </header>
            </div>
            <br>
            <h4> Submit your answers by end of day Monday, and results will be shared on Tuesday </h4>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

    <div class="quiz">
        <iframe id='googleForm' src="https://docs.google.com/forms/d/e/1FAIpQLSfHs9tgYgZVcnX-tCZm0I73s6RWgiF-MEVj1RdlzCaoqPtC6A/viewform?embedded=true" frameborder="5">Loading...</iframe>
    </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
